name: Publish NuGet Package

on:
  push:
    branches:
      - master

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Pack
        run: dotnet pack --configuration Release --no-build --output ./nupkg

      - name: Publish NuGet Package
        run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.PACKAGE_TOKEN }} --source https://nuget.pkg.github.com/KristianJBorgwarth/index.json
